<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
            div {
    background-color: rgba(230, 255, 255, 0.5);
}
        </style>
    </head>
    <body>
        <div id= "content">
            <div>
                <h3><stong>Thanks to all contributors</stong></h3><br>
                <p>
                    <h4>Likelion Miniproject team<br></h4>
                    <%=image_tag("2.jpg")%>
                </p>
                <br>
                <p>
                    김경현,김준엽,최재필,허용회
                </p>
                <br>
                <p>
                    <h4>Winter Python boot camp Softcorn team</h4>
                </p>
                <br>
                <p>
                    김준엽,김준영,강다영,황유진
                </p>
            </div>
        </div>
    </body>
</html>

