<!DOCTYPE html>
<html>
    <head>
        <style>
            table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: auto;
    background-color: aliceblue;
    
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

        </style>
        
    </head>
    <body>
        <div id= "content"> <!--사이드바에 가리지 않게 하는 용도-->
        <div id="usefullinks_background"><br>
            <h1><strong>Links</strong></h1><br>
            <table>
                <tr>
                    <th>Service Name</th>
                    <th>exp</th>
                    <th>Links</th>
                </tr>
                <tr>
                    <th>SKKOOL BUS</th>
                    <th>Real time SKKU school bus tracker.</th>
                    <th><a href = "http://skkoolbus.com/", target = "_blank"><%=image_tag("skkbus_ic.png", class: "useful_img_size")%></a></th>
                </tr>
                <tr>
                    <th>Everytime</th>
                    <th>The biggest student community. </th>
                    <th> <a href = "http://everytime.kr/", target = "_blank"><%=image_tag("everytime.png", class: "useful_img_size")%></a></th>
                </tr>
                <tr>
                    <th>SKKUTA</th>
                    <th>Restaurants' review & guide near SKKU Seoul Campus.</th>
                    <th><a href = "http://skkuta.com/", target = "_blank"><%=image_tag("skkuta.jpg", class: "useful_img_size")%></a></th>
                </tr>
                <tr>
                    <th>SKKU</th>
                    <th>2017 SKKU International Students Academic table</th>
                    <th><a href = "http://www.skku.edu/eng_home/edu/bachelor/ca_de_schedule_2017.jsp", target = "_blank">Link</a></th>
                </tr>
            </table>
            <!--<div class = "useful_container">-->
            <!--    <div class = "each_useful">-->
            <!--        <a href = "http://skkoolbus.com/", target = "_blank"><%#=image_tag("skkbus_ic.png", class: "useful_img_size")%></a><br>-->
            <!--        <div style='vertical-align:middle; display:inline;'><br>-->
            <!--            <p>SKKOOL BUS: <br>Real time SKKU school bus tracker.</p>-->
            <!--        </div>-->
            <!--    </div><br><br>-->
            <!--    <div class = "each_useful">-->
            <!--        <a href = "http://everytime.kr/", target = "_blank"><%#=image_tag("everytime.png", class: "useful_img_size")%></a><br>-->
            <!--        <div style='vertical-align:middle; display:inline;'><br>-->
            <!--            <p>Everytime: <br>The biggest school community <br> Sign up and join the board.</p> -->
            <!--        </div>-->
            <!--    </div><br>-->
            <!--    <div class = "each_useful">-->
            <!--        <a href = "http://skkuta.com/", target = "_blank"><%#=image_tag("skkuta.jpg", class: "useful_img_size")%></a><br>-->
            <!--        <div style='vertical-align:middle; display:inline;'><br>-->
            <!--            <p>SKKUTA:<br> Restaurants' review & guide near SKKU Seoul.</p>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <table>
              <h2>
                Cafeteria Menu links
              </h2>
              <tr>
                <th>Location</th>
                <th>Links</th>
              </tr>
              <tr>
                <th>Cafeteria<br>Faculty Hall (1F)</th>
                  <th><a href="http://www.skku.ac.kr/new_home/campus/support/pop_menu1.jsp?restId=101", target="_blank">Menu Links</a></th>
              </tr>
             <tr>
                <th>Cafeteria<br>600th Anniversary Building(6F)</th>
                  <th><a href="http://www.skku.ac.kr/new_home/campus/support/pop_menu1.jsp?restId=102", target="_blank">Menu Links</a></th>
              </tr>
             <tr>
                <th>Cafeteria<br>600th Anniversary Building(B1)</th>
                  <th><a href="http://www.skku.ac.kr/new_home/campus/support/pop_menu1.jsp?restId=103", target="_blank">Menu Links</a></th>
              </tr>
             <tr>
                <th>Cafeteria<br>Business Building(B2)</th>
                  <th><a href="http://www.skku.ac.kr/new_home/campus/support/pop_menu1.jsp?restId=104", target="_blank">Menu Links</a></th>
              </tr>
             <tr>
                <th>Cafeteria<br>Law Building(B2)</th>
                  <th><a href="http://www.skku.ac.kr/new_home/campus/support/pop_menu1.jsp?restId=106", target="_blank">Menu Links</a></th>
              </tr>
            
        </table>
        </div>
        </div>
        
        
                
                
                
    </body>
</html>

