<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport", content="width=device-width, initial-scale=1" />
		<link rel="stylesheet", href="assets/css/main.css" />
	</head>
	<body>
		 Content 
			<div id="content">
				<div class="inner">
					<h1 style="font-size:280%;"><strong>International Students!</strong></h1><br><br><br><br><br><br><br>
					<h2>
					    Welcome and greeets for all visitors!<br>
						This websites is alpha-version<br>
						We have more plans to design this websites<br>
						We are opened to your suggestions<br>
						If you have any comments about our websites<br>
						mail at : yaup22cc@gmail.com
					<h2>
				</div>
			</div>

		 Sidebar 
			<!--<div id="sidebar">-->

				<!-- Logo -->
			<!--		<h1 id="logo"><a href="#">SKKUDENT</a></h1>-->
				<!-- Nav -->
			<!--		<nav id="nav">-->
			<!--			<ul>-->
			<!--				<li><#%= link_to 'Community', posts_path %></li>-->
			<!--				<li><#%= link_to 'Maps', maps_index_path %></li>-->
			<!--				<li><#%= link_to 'Notices', notices_index_path %></li>-->
			<!--				<li><a href="#">Useful links</a></li>-->
			<!--			</ul>-->
			<!--		</nav>-->

				<!-- Search -->
			<!--		<section class="box search">-->
			<!--		   <%# if current_user %>-->
   <!--                      <strong><%#= current_user.nickname %></strong>  Hello again ^^ <br>| <%#= link_to 'Logout', session_path(current_user.id), method: :delete %>-->
   <!--                    <%# else %>-->
			<!--		     <%#= form_tag sessions_path do %>-->
   <!--                        Email : <#= text_field_tag :email, nil , :placeholder => "John@gmail.com" %>-->
   <!--                       P assword: <%#= password_field_tag :password, nil , :placeholder => "********"   %><br>-->
   <!--                         <%#= submit_tag 'Submit' %><br>-->
   <!--                         <%#= link_to 'Sign-up', new_user_path %>-->
   <!--                      <%# end %>-->
   <!--                    <%# end %>-->
			<!--		</section>-->

			<!--</div>-->
			

	</body>
</html>